body {
    background-color: purple;
    color: blue;
    font-size:xx-large;
    font-style: oblique;
    font-stretch: expanded;
    background-blend-mode: color;
    background-image: url(https://thumbs.dreamstime.com/b/beer-glasses-set-hand-drawing-glass-bottle-vector-mug-ale-lot-foam-alcoholic-drink-bar-pub-menu-oktoberfest-96359072.jpg)
    }
   
    .cards {
        flex-direction: column;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 560px;
    background-color:grey;
    border-radius: 30px;
    font-style: inherit;
    color: black;
    text-align: center;
    text-decoration: darkred;
   }
   .main {
    display: flex;
    gap: 100px;
    margin: 50px;
    flex-wrap: wrap;
   }
   .cards:hover {
    box-shadow: 10px 6px 10px 7px rgba(179, 179, 179, 0.307);
    transform: translateY(-1.6rem);
   }
   .small {
    padding: 2px 16px;
   }
   img {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
   }
   h1 {
    text-align: center;
    margin: 80px 0;
   }
   img {
    width: 100%;
    height: 300px;
    object-fit: cover;
   }
   p {
    font-size: 20px;
   }
   Button {
    background:maroon;
    border-radius: 28px;
    font-family: Arial;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 30px;
   }
   p2,p3,p4 {
    flex:display;
    flex-direction: column;
text-align: center;
   }
   
   